/* сброс стилей */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Проверить что другая жирность работает*/
/* Подключение шрифта */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}