/* сброс стилей */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Проверить что другая жирность работает*/
/* Подключение шрифта */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
}

/* Отключили отображение названия блоков без заголовков */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
  background-image:
      linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
      url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  color: white;
  background-size: 100%;
  height: 445px;
  padding-top: 27px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.nav {
  /* display: flex; */
  /* justify-content: space-between; */
  background-image: url(../svg/noemi-logo.svg);
  background-repeat: no-repeat;
  background-size: 180px 41px;
  height: 41px;
  /* padding-top: 27px; */

}

.nav-list {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  justify-content: right;
}

.header-link:nth-child(n+2) {
  padding: 0 0 0 35px;
}

.header-title {
  margin: 130px auto;
  font-size: 45px;
  font-weight: 700;
  line-height: 74.97px;
  text-transform: uppercase;
  width: 680px;
  text-align: center;
}

.name-section {
  font-size: 20px;
  display: block;
  margin: 63px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 29.15px;
}

.name-section:after{ 
  content: "";
  background: #e1d9bd;
  width: 66px;
  height: 3px;
  margin: 28px auto;
  display: block;
}