/* сброс стилей */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Проверить что другая жирность работает*/
/* Подключение шрифта */

@font-face {
  font-family: OpenSans;
  src: local("OpenSans"), 
    url(../fonts/OpenSans-Regular.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans"), 
    url(../fonts/OpenSans-Bold.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

body {
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  position: relative;
}

/* Отключили отображение названия блоков без заголовков */
.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header {
	padding: 25px 0 125px 0;
	position: relative;
	background: url(../images/banner-bg.jpg);
	background-size: cover;
	background-color: black;
  color: white;
	width: 100%;
	z-index: 1;
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #000000;
	z-index: -1;
	opacity: 0.65;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  background-image: url(../svg/noemi-logo.svg);
  background-repeat: no-repeat;
  background-size: 180px 41px;
  height: 41px;
}

.nav-list {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  justify-content: right;
}

.header-link:hover {
  transition: 0.3s;
  font-weight: bold;
}

.header-link:nth-child(n+2) {
  padding: 0 0 0 35px;
  
}

.header-title {
  margin-top: 45px;
  margin-left: auto;
	margin-right: auto;
  font-size: 45px;
  font-weight: 700;
  line-height: 74.97px;
  text-transform: uppercase;
  width: 66%;
  text-align: center;
  padding-top: 55px;
	z-index: 1;

}

.name-section {
  font-size: 20px;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 29.15px;
}

.name-section:after { 
  content: "";
  background: #e1d9bd;
  width: 66px;
  height: 3px;
  margin: 12px auto;
  display: block;
}

.new-post-name {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 29.15px;
}

.new-post-name:after { 
  content: "";
  background: #e1d9bd;
  width: 66px;
  height: 3px;
  margin: 10px auto;
  display: block;
}

.nav-trends {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.header-trend{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 95px 25px 15px;
  flex-basis: 25%;
  display: flex;
  align-items: flex-end;
}

.header-trend:nth-child(-n + 3) {
  margin-right: 4px;
}

.header-trend::before {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.65;
  z-index: -1;
}

.trend1 {
  background-image:
      url(../images/trend1.jpg);
}

.trend2 {
  background-image:
      url(../images/trend2.jpg);
}

.trend3 {
  background-image:
      url(../images/trend3.jpg);
}

.trend4 {
  background-image:
      url(../images/trend4.jpg);
}

.frame {
  border: 3px solid #937f4d;
  display: block;
  color: white;

  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  padding: 8%;
}

.name-theme {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.list-topic {
  display: flex;
  flex-wrap: wrap;
}

.topic {
  color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  word-spacing: 15px;
  margin-right: 15px;
}

.topic:hover {
  color: #b59f5b;
  transition: 0.3s;
  font-size: 17px;
}

.new {
  display: flex;
}

.new:not(:last-child) {
	margin-bottom: 60px;
}

/* .img-new { */
  /* max-height: 295px; */
  /* margin-bottom: 60px; */
/* } */

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.autor {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.text-news {
  width: 50%;
  padding-left: 30px;
}

.info-new {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.autor {
  margin-left: 15px;
}

.articles-main {
  display: block;
  font-size: 15px;
  line-height: 22px;
  margin-top: 15px;
}

.products-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 45px;
}

.product {
  display: flex;
  flex-direction: column;
  flex-basis: calc(33% - 10px);   
}

.frame-product {
  margin-top: -45px;
  border: 2px solid #b59f5a;
  padding: 50px 20px 20px;
  flex-grow: 1;
}

.articles-product {
  display: block;
	font-size: 15px;
	line-height: 22px;
  margin-top: 15px;
}

.products-img {
  margin-bottom: 25px;
  width: 100%;
  padding: 0 20px;
}

.link-in-product {
  color: #c9b987;
}

.link-in-product:hover {
  border-bottom: 1px solid #b59f5a;
  transition: 0.3s;
}

.button-in-shop {
  height: 50px;
  width: 138px;
  background-color: #b59f5b;
  font-size: 14px;
  color: white;
  border:none;
  text-transform: uppercase;
  margin-left: 70px;
}

.button-in-shop:hover {
	cursor: pointer;
	background-color: #323232;
	transition: all 0.4s ease;
}

.buttons-shop {
  display: flex;
  padding-top: 24px;
}

.money {
  display: flex;
  flex-direction: column-reverse;
}

.price {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 700;
}

.old-price {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: line-through;
}

.blocks-news-and-right-menu {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin-top: 60px;
}

.right-menu {
  width: 270px; 
}

.new-posts {
  margin-bottom: 60px;
}

.new-post {
  display: flex;
}

.container-date-name-post {
  display: block;
  margin-left: 10%;
}

.name-post {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.new-post:nth-child(n+2) {
  margin-top: 10%;
}

.search {
  height: 50px;
  width: 220px;
  background-color: #f3f7f5;
  border: none;
  padding-left: 20px;
}

.mail {
  height: 50px;
  width: 270px;
  background-color: #f3f7f5;
  border: none;
  padding-left: 20px;
}

.button-search {
  height: 50px;
  width: 50px;
  border: none;
  background-color:#b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

.button-search:hover {
	cursor: pointer;
	background-color: #323232;
	transition: all 0.4s ease;
}

.search-group {
  display: flex;
  margin-bottom: 20px;
}

.mailing-list {
  margin-top: 30px;
}

.button-mailing-list {
  color: white;
  height: 50px;
  width: 290px;
  border: none;
  background-color:#b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 50px;
}

.button-mailing-list:hover {
	cursor: pointer;
	background-color: #323232;
	transition: all 0.4s ease;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 50px 0;
}

.tag {
  border: 3px solid #e2e7e5;
  padding: 5px 10px;
  margin: 3px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.tag:hover {
	border: 3px solid #0b0b0b;
	transition: all 0.3s ease;
}

.theme {
  display: flex;
  margin-top: 35px;
}

.title-theme {
  font-size: 14px;
  font-weight: 700;
}

.title-theme::first-letter {
  text-transform: uppercase;
}

.theme:after { 
  content: "";
  background: #e2e7e5;
  width: 290px;
  height: 1px;
  margin-top: 35px;
  position: absolute;
}

.amount-theme {
  position:relative;
  bottom: 2px;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  margin-left: 5px;
}

.footer {
  width: 100%;
  text-align: center;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 69px;
  background-color: #f3f7f5; 
}

.footer-item:not(:last-child) {
  margin-right: 30px;
}

.footer-item-link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.dribbble {
  background-image:
    url(../svg/001-dribbble.svg)
}

.pinterest {
  background-image:
    url(../svg/001-pinterest.svg)
}

.tumblr {
  background-image:
    url(../svg/003-tumblr.svg)
}

.copyright {
  color: #adadad;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
  display: block;
}